.post-item{
    padding: 15px 25px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #999;
}
.actions button{
  margin-right: 7px;
  border: none;
  background-color: #fff;
}
.actions button i{
    font-size: 16px;
}
i{
    color: rgb(219, 216, 216);
}
.fa-trash{
    color: rgb(121, 13, 13);
}
p{
    width: 70%;
    font-size: 16px;
    font-weight: 700;
}
.important{
   color: yellow !important;
}
.fa-heart{
    display: none;
    color: red;
}
.fa-heart-show{
    display: block;
}
